.skill {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 270px;

    background: #fff;
    border-radius: 10px;
}

.skill ul {
    margin: 0;
}
.skill li {
    display: inline-block;
    list-style: none;
}

.skill li::after {
    content: "/";
    padding: 0 5px;
}

.tag {
    padding: 4px 6px;
    background: rgb(150, 147, 133);
    margin-right: 8px;
    font-size: 0.8em;
    border-radius: 3px;
    color: #fff;
}
