.items h3 {
    margin: 12px 0 6px 0;
}

.items ul {
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 12px;
    display: flex;
}

.items li {
    padding: 4px 20px;
    background: url(./images/arrow-right.png) no-repeat 0 50%;
    background-size: 14px;
    border-bottom: 1px solid #ddd;
}
