.slider {
    width: 100px;
    padding: 5px 0;
}

.slider * {
    user-select: none;
}

.bg {
    height: 3px;
    position: relative;
    background: #ccc;
}

.bg.default {
    height: 3px;
}

.bg.hide {
    height: 6px;
}
