.slider {
    width: 100px;
    padding: 5px 0;
    cursor: pointer;
}

.slider * {
    user-select: none;
}

.slider-bg,
.slider-active {
    height: 3px;
}
.slider-bg {
    position: relative;
    background: #ccc;
}

.slider-active {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    background: #333;
}

.slider-active::after {
    position: absolute;
    right: -10px;
    top: -4px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 10px;
}
