.hoge {
    font-weight: normal;
}

.header {
    line-height: 50px;
    border-bottom: 1px solid #eee;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header h1 {
    padding-left: 30px;
    font-size: 1.2em;
    background: url(./images/title-icon.svg) no-repeat 0 50%;
}

.navigator {
    margin: 0;
    background: #666;
}

.navigator li {
    display: inline-block;
}

.breadcrumb {
    padding: 4px 0;
    background: rgb(230, 228, 219);
}

.breadcrumb span {
    padding: 4px 8px;
    background: #f2f2f2;
    border-radius: 3px;
}

.update {
    margin-top: 50px;
    padding: 12px 0;
    background: #f6f6f6;
    font-size: 0.8em;
}

.update dl {
    display: flex;
}
.update dt {
    background: #4c92a6;
    border-radius: 3px;
    color: #fff;
}
.update dt,
.update dd {
    padding: 2px 8px;
}

.contents {
    padding: 20px 0;
}
