.knob {
    height: 3px;
}

.hide.knob {
    height: 6px;
}

.knob {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    background: #333;
}

.square {
}

.knob::after {
    position: absolute;
    right: -10px;
    top: -4px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 10px;
}

.square.knob::after {
    border-radius: 0;
}

.hide.knob::after {
    display: none;
}
