.entry {
}

.entry h1 {
    font-size: 1.4rem;
}

.entry h2 {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.entry header {
    position: relative;
    margin-bottom: 1rem;
    padding: 25px 0;
    border-bottom: 10px solid #eee;
}

.date {
    color: #666;
}
