.entry {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
}

.entry h1 {
    font-size: 1.4rem;
}

.entry h2 {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.entry header {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 5px solid #eee;
}

.date {
    color: #666;
}
