.header {
    height: 40px;
    padding: 0px 0px 0px 0px;
    background: rgb(218, 94, 72);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    line-height: 40px;
}

.container {
    width: 900px;
    margin: 0 auto 0px auto;
    position: relative;
}

.description {
    position: absolute;
    top: 5px;
    left: 80px;
    font-size: 0.8rem;
    color: #fff;
}
