.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    line-height: 25px;
    background: #75b5d1;
}

.container {
    width: 900px;
    margin: 0 auto 0px auto;
    position: relative;
}

.description {
    position: absolute;
    top: 5px;
    left: 80px;
    font-size: 0.8rem;
    color: #fff;
}

.menu {
    height: 35px;
    padding: 20px 0;
}

.menu a:link,
.menu a:visited {
    color: #555;
    text-decoration: none;
}

.menu h1 {
    float: left;
    font-weight: normal;
    font-size: 1rem;
    color: #fff;
}

.menu h1 img {
    margin-right: 10px;
}

.menu ul {
    float: left;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    width: 120px;
    margin-right: 5px;
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
}

.menu li a {
    display: block;
    border: 5px solid #fff;
    border-radius: 3px;
}

.menu li a span {
    display: block;
    background: rgba(255, 255, 255, 0.4);
}

.menu li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.menu li:not(:first-child) {
}

li.logo {
    width: 175px;
    font-size: 1em;
    background: url(./images/icon.svg) no-repeat;
    position: relative;
}

li.logo a {
    padding-left: 55px;
}

li.logo a span {
    display: block;
    background: #fff;
}

.menu img {
    margin-right: 5px;
}
