* {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 20px;
}

body {
    background: #f4f4f4;
    color: #555;
}

p {
    line-height: 1.8em;
}

p,
ul {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

a:link,
a:visited {
    color: rgb(192, 97, 73);
}

a:hover {
    color: #454545;
}

.content-header {
    height: 40px;
    background: #eee;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #e2e2e2;
    font-weight: bold;
}

.content-header h2 {
    width: 900px;
    margin: 0 auto;
    line-height: 40px;
}

p code {
    padding: 3px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: rgb(192, 97, 73);
}

pre code {
    display: block;
    margin-bottom: 1rem;
    padding: 30px;
    letter-spacing: 0.1em;
    line-height: 1.5rem;
    background: #454545;
    color: #eee;
}
