* {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 20px;
}

body {
    color: #454545;
}

p {
    line-height: 1.8em;
}

p,
ul {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.3rem;
}

a:link,
a:visited {
    color: rgb(192, 97, 73);
}

a:hover {
    color: #454545;
}

.content-header {
    height: 40px;
    background: #eee;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #e2e2e2;
    font-weight: bold;
}

.content-header h2 {
    width: 900px;
    margin: 0 auto;
    line-height: 40px;
}
