.category-list {
    padding: 12px 12px 8px 12px;
    background: rgb(230, 228, 219);
    border: 1px solid #ddd;
    border-radius: 3px;
}

.category-list a {
    display: block;
    padding: 4px 12px;
}

.category-list li :hover {
    background: #ddd;
}

.category-list a:link {
    text-decoration: none;
}

.category-list h1 {
    margin-bottom: 6px;
    padding: 6px 0;
    border-top: 4px solid #4c92a6;
    border-bottom: 1px solid #ccc;
    font-size: 1em;
}

.category-list li {
    margin-bottom: 6px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 3px;
}
